body {
    height: 100vh;
    margin: 20px;
    /* add background gradient */
    background: linear-gradient(0deg, rgba(178,190,206,0.2) 0%, rgba(178,190,206,0.6) 100%);

    font-family: Arial, sans-serif;
    font-size: 16px;

}

/* input[type="checkbox"] {
    margin: 0;
    font-size: 2.5em;
} */

